<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
<!--

       _ _              _____ _          _     _   _             
      | (_)            / ____| |        (_)   | | (_)            
      | |_ _ __ ___   | |    | |__  _ __ _ ___| |_ _  __ _ _ __  
  _   | | | '_ ` _ \  | |    | '_ \| '__| / __| __| |/ _` | '_ \ 
 | |__| | | | | | | | | |____| | | | |  | \__ \ |_| | (_| | | | |
  \____/|_|_| |_| |_|  \_____|_| |_|_|  |_|___/\__|_|\__,_|_| |_|


-->
<title>Jim Christian</title>
<link href="http://jimchristian.net/assets/css/main.css" rel="stylesheet">
</head>
<body>
  <div id="pwrap">
    <div class='particle'></div>
</div>
<div class="mcon container">
    <div class="intro">
        <div id="header">
          <canvas id="draw"></canvas>
          <div class="container">
            <div class="section group">
              <div class="col full">
                <h1>This is JimBot.</h1>
                <p class="slogan">
                  <span class="animated fadeInDown">It isn't real, </span>
                  <span class="animated fadeInDown delay-half">at least not a real person, </span>
                  <span class="animated fadeInDown delay-one">or is it?</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="specialcenter">
    <div class="section group">
      <div class="col half">
        <h2>What Is It?</h2>
        <p>The personal bot for <a href="http://jimchristian.net" title="Jim Christian">Jim Christian</a>.</p>
      </div>
      <div class="col half">
        <h2>How Do I Work This?</h2>
        <p>You can converse with the bot by <a href="https://facebook.com/jimchristianconsulting">visiting Jim's Facebook page</a>.</p>
      </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://jimchristian.net/assets/js/main.js"></script>
<script src="http://jimchristian.net/assets/js/particleground/jquery.particleground.min.js"></script>
</html>