<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Jim Bot</h2>
    <p>The personal bot for <a href="http://jimchristian.net" title="Jim Christian">Jim Christian</a></p>. You can converse with the bot by <a href="https://facebook.com/jimchristianconsulting">visiting Jim's Facebook page</a>.
</body>
</html>